<div class="outer">
    <div class="form-container">
        <div style="font-weight: bold; font-size: larger;">Owner form</div>
        <form [formGroup]="registerRestoGroup" (ngSubmit)="onSubmit()">
            <label for="restaurantName">Restaurant Name:</label>
            <input required id="restaurantName" type="text" formControlName="restaurantName">

            <label for="mobileNo">Restaurant Number:</label>
            <input required id="mobileNo" type="number" min="1000000000" max="9999999999" formControlName="mobileNo">

            <label for="addressLine1">Address Line 1 </label>
            <input required id="addressLine1" type="text" formControlName="addressLine1">

            <label for="addressLine2">Address Line 1 </label>
            <input id="addressLine2" type="text" formControlName="addressLine2">

            <label for="city">City</label>
            <input required id="city" type="text" formControlName="city">

            <label for="state">State</label>
            <input required id="state" type="text" formControlName="state">

            <label for="country">Country</label>
            <input required id="country" type="text" formControlName="country">

            <label for="restroType">Veg / Non Veg</label>
            <select id="restroType" required formControlName="restroType">
                <option value="veg">Veg</option>
                <option value="nonVeg">Non Veg</option>
            </select>

            <label for="speciality">Speciality</label>
            <input required id="speciality" type="text" formControlName="speciality">

            <label for="openingHour">Opening Hour  </label>
            <input id="openingHour" type="openingHour" formControlName="openingHour">

            <label for="clossingHour">Clossing Hour</label>
            <input id="clossingHour" required type="text" formControlName="clossingHour">
            
            <label for="logo">Logo</label>
            <input id="logo" type="text" formControlName="logo">

            <button type="submit">Submit</button>
        </form>
    </div>
</div>